<h1>Hello, Rails!</h1>

<ul>
    <% @articles.each do |article| %>
    <li>
        <%# tidy up links with Rails helper method %>
        <%= link_to article.title, article%>
    </li>
    <% end %>
</ul>
